@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

$primary-color: rgb(238, 59, 59);
$bg-color: rgb(44, 43, 43);
$text-color: #495057;

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;

    @media (max-width:1200px) {
        font-size: 8px;
    }

    @media (max-width:768px) {
        font-size: 7px;
    }
}

.header {
    padding: 20px 0;
    background-color: rgb(235, 233, 233);

    @media (max-width:600px){
        padding-top: 0;
    }

    &_col-2 {
        padding-left: 30px;

        @media (max-width:996px) {
            padding: 0;
        }       
    }
}

.container {
    max-width: 1320px;
    margin: auto;

    @media (max-width:1400px) {
        max-width: 1200px;
    }

    @media (max-width:1200px) {
        max-width: 996px;
    }

    @media (min-width:996px) {
        padding: 0 30px;
    }
}

.navbar {
    background-color: $bg-color;

    &__menu {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .active {
        background-color: $primary-color;
        color: white;

        &:hover{
            background-color: #be2f2f;
        }

        @media (max-width:600px) {
            width: calc(100% - 10px);
            text-align: start;
            padding-left: 15px;
        }
    }
}

.drop {

    @media (min-width:600px) {
        display: none;
    }

    &__menu {
        width: 60px;
        height: 45px;
        background-image: url(/src/assets/menu.png);
        background-color: transparent;
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        border-radius: 5px;
        margin: 10px;
        border: 1px solid rgb(168, 167, 167);

        &:hover {
            transition: box-shadow 0.15s ease-in-out;
            border: 4px solid lightgray;
            border-radius: 5px;
        }
    }
}

.hidden {
    @media (max-width:600px) {
        display: none;
    }
}

.hidden.show {
    @media (max-width:600px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}


.menu__item {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 75px;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.55);
    min-width: 87px;
    text-align: center;
    margin: 0 5px;

    &:hover{
        color: white;
    }

    @media (min-width:1200px) {
        font-size: 1.5rem;
    }

    @media (max-width:600px) {
        text-align: start;
        font-size: 13px;
        padding-left: 10px;
    }

    @media (max-width:576px) {
        line-height: 60px;
    }
}

.hov:hover {
    color: #be2f2f;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;


    grid-template-areas:
        "col-1 col-2"
    ;

    @media (max-width:996px) {
        max-width: 615px;
        margin: auto;
        padding: 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "col-1"
            "col-2"
        ;
    }

    .col-1 {
        grid-area: col-1;
    }

    .col-2 {
        grid-area: col-2;
    }

    .main-head {
        font-size: 5.5rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 5px;

        @media (max-width:480px) {
            font-size: 30px;
            letter-spacing: 1px;
        }

        &__descript {
            max-width: 500px;
            font-size: 1.35rem;
            line-height: 23px;
            color: $text-color;
            margin-top: 20px;
        }
    }
}

.btn {
    background-color: $primary-color;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 140px;

    &:hover{
        background-color: #be2f2f;
    }

    @media (max-width:768px) {
        padding: 10px 30px;
        line-height: 100px;
    }
}

.img {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;

    img {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &_rect {
        padding-bottom: 100%;
    }
}

.main-cat {
    padding-bottom: 60%;
    box-shadow: 0px 0px 30px -10px #000;
}

// sect-1

.sect-1 {
    border-bottom: 2px solid rgb(235, 235, 235);
    padding-bottom: 50px;

    @media (max-width:996px) {
        padding-bottom: 0;
    }

    .content {
        @media (min-width:996px) {
            grid-template-columns: 2fr 3fr;
        }
    }

    &_btn {
        background-color: white;
        color: $primary-color;
        border: 2px solid $primary-color;

        &:hover{
            color: white;
        }
    }
}

.head {
    color: $text-color;
    font-size: 4rem;
    text-transform: uppercase;
    max-width: 600px;
    letter-spacing: 1px;
    line-height: 50px;

    @media (max-width:996px) {
        max-width: 500px;
    }
}

.head-box {
    color: $text-color;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 20px;
}

.text {
    max-width: 450px;
    font-size: 1.5rem;
    line-height: 23px;
    color: $text-color;
    margin-top: 20px;
}

.fa__icon {
    color: $primary-color;
    font-size: 3.5rem;
}

.main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "box-1 box-2"
        "box-3 box-4"
    ;

    @media (min-width:996px) {
        padding-left: 50px;
    }

    @media (max-width:500px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "box-1"
            "box-2"
            "box-3"
            "box-4"
        ;
    }

    .box-1,
    .box-2,
    .box-3,
    .box-4 {

        @media (max-width:500px) {
            text-align: center;
        }
    }

    .box-1 {
        grid-area: box-1;
    }

    .box-2 {
        grid-area: box-2;
    }

    .box-3 {
        grid-area: box-3;
    }

    .box-4 {
        grid-area: box-4;
    }
}

// sect-2

.sect-2 {

    .content {
        display: block;
    }

    &_head,
    &_text {
        text-align: center;
        margin: auto;
        max-width: 500px;
        padding-top: 10px;
    }
}

.border {
    border-bottom: 2px solid $primary-color;
    width: 120px;
    margin: auto;
    padding-top: 30px;
}

.link {
    padding-top: 50px;

    &__menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        max-width: 800px;
    }
}

.menu__it {
    text-transform: uppercase;
    text-decoration: none;
    color: $text-color;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 20px;

    @media (max-width:768px) {
        padding: 10px;
    }

    &_active {
        color: $primary-color;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 318px);
    grid-gap: 15px;
    justify-content: center;
    padding-top: 30px;
    margin: auto;

    // @media (max-width:1400px) {        
    //     max-width: 700px;        
    // }

    @media (max-width:1200px) {
        grid-template-columns: repeat(auto-fill, 240px);
    }

    @media (max-width:768px) {
        grid-template-columns: repeat(auto-fill, 200px);
    }
}

// sect-3

.sect-3 {
    &_content {
        display: block;
    }

    .blok {
        margin-left: 10px;
    }

    &_border {
        margin: 0;
    }

    &_head {
        font-size: 3rem;
        font-weight: 500;
    }

    &_text {
        @media (min-width:1200px) {
            max-width: 600px;
        }
    }

    &_img-rect {
        @media (min-width:996px) {
            padding-bottom: 126%;
        }
    }

    &_img {
        grid-template-columns: repeat(auto-fill, 200px);

        @media (min-width:996px) {
            justify-content: start;
        }
    }

    &_link {

        @media (min-width:996px) {
            justify-content: flex-start;
            margin: 0;
        }
    }

    &_it {
        text-transform: capitalize;
        font-weight: 300;
        font-style: italic;
        padding-left: 0;
    }
}

.sect-3__grid {
    display: grid;
    grid-template-columns: 350px 4fr;
    grid-template-rows: auto;
    grid-template-areas:
        "grid__col-1 grid__col-2"
        "grid__col-1 grid__col-3"
    ;

    @media (max-width:1400px) {
        grid-template-areas:
            "grid__col-1 grid__col-2"
            "grid__col-3 grid__col-3"
        ;
    }

    @media (max-width:996px) {
        padding: 0;
        padding-top: 40px;
        grid-template-columns: 200px 4fr;
        grid-template-areas:
            "grid__col-1 grid__col-1"
            "grid__col-2 grid__col-2"
            "grid__col-3 grid__col-3"
        ;
    }
}

.grid__col-1 {
    grid-area: grid__col-1;
}

.grid__col-2 {
    grid-area: grid__col-2;

    @media (min-width:996px) {
        padding-left: 60px;
    }
}

.grid__col-3 {
    grid-area: grid__col-3;

    @media (min-width:996px) {
        padding-left: 60px;
    }
}

// sect-4

.sect-4 {
    background-color: #f0e8c8;
    margin-top: 100px;
    padding: 110px 0;

    @media (max-width:996px) {
        margin-top: 0;
    }

    &_cont {
        padding: 0 30px;
    }

    &__head {
        text-align: center;
        color: white;
        font-size: 4rem;
        letter-spacing: 1px;
    }

    &__text {
        text-align: center;
        color: white;
        margin: auto;
        max-width: 600px;
        padding-top: 30px;
    }

    .form {
        display: flex;
        justify-content: center;
        padding: 50px 20px 0 20px;

        @media (max-width:500px) {
            flex-direction: column;
        }

        &__inp {
            border: none;
            border-radius: 5px;
            padding: 30px;
            width: 400px;
            margin-right: 15px;
            font-size: 1.8rem;

            &::placeholder {
                color: $text-color;
                font-size: 1.6rem;
            }

            @media (max-width:768px) {
                padding: 15px;
            }

            @media (max-width:500px) {
                width: calc(100% - 30px);
                margin-right: 0;
            }
        }

        &_btn {
            line-height: 0;
            border: none;

            @media (max-width:500px) {
                margin-top: 20px;
                line-height: 20px;
            }
        }
    }
}

// sect-5

.sect-5 {
    margin-top: 60px;

    @media (max-width:996px) {
        margin-top: 0;
    }

    &_text {
        max-width: 600px;
    }

    &_content {
        @media (min-width:996px) {
            grid-template-columns: 5fr 3fr;
        }
    }
}

.send {

    &__inp {
        flex-grow: 1;
        margin-bottom: 30px;

        &_name {
            margin-right: 30px;

            @media (max-width:700px) {
                margin-right: 0;
            }
        }
    }

    &__area {
        display: block;
        width: calc(100% - 60px);
        height: 200px;
        margin-bottom: 30px;

        @media (max-width:700px) {
            width: calc(100% - 40px);
            height: 100px;
        }
    }

    &__inp,
    &__area {
        border: none;
        background-color: lightgray;
        padding: 30px;
        border-radius: 10px;
        font-size: 1.8rem;

        &::placeholder {
            font-size: 1.6rem;
        }

        @media (max-width:700px) {
            padding: 20px;
        }
    }

    &_btn {
        line-height: 50px;
        border: none;
        width: calc(100% - 0px);
        text-transform: uppercase;

        @media (max-width:700px) {
            line-height: 30px;
        }
    }
}

.bl-in {
    display: flex;

    @media (max-width:700px) {
        flex-direction: column;
    }
}

.aside {
    background-color: $bg-color;
    box-shadow: 425px 0px 0px 0px rgb(44 43 43);

    @media (min-width:996px) {
        margin-left: 70px;
    }

    @media (max-width:1400px) {
        box-shadow: 250px 0px 0px 0px rgb(44 43 43);
    }

    @media (max-width:996px) {
        margin-top: 30px;
        box-shadow: 220px 0px 0px 0px rgb(44 43 43);
    }

    &__blok {
        padding: 150px 0 0 80px;

        @media (max-width:996px) {
            padding: 60px 20px 60px 60px;
        }
    }

    &__head {
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 1px;
    }

    &__text {
        color: white;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.6rem;
        padding: 15px 0;
        line-height: 35px;
    }
}

// footer

.footer {
    background-color: $bg-color;

    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }

    &__text,
    &__icon {
        display: inline-block;
    }

    &__text {
        color: white;
        font-size: 1.6rem;
        font-weight: 100;
    }
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    clip-path: circle(50%);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: lightgray;
    margin-left: 20px;

    &__twitter {
        background-image: url(../assets/logo-t.png);
    }

    &__linken {
        background-image: url(../assets/logo-in.png);
        background-size: 23px;
    }

    &__google {
        background-image: url(../assets/logo-g.png);
        background-size: 25px;
    }

    &__facebook {
        background-image: url(../assets/logo-f.png);
        background-size: 30px;
    }
}